*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
    color: white;
    text-decoration: underline;
}
.border_ima{
    width: 500px;
    height: 200px;
    border: 5px solid white;
    position: relative;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
button{
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: none;
    outline: none;
    height: 46px;
    width: 156px;
    background-color: red;
    border-radius: 5px;
    font-weight: bold;
}